html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#grid {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px;
  gap: 3px;
}

.item {
  font-size: 12px;
}

.item.active {
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: var(--bs-blue);
  --bs-btn-active-border-color: var(--bs-blue);
}

.wrap {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}